@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Newsreader', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.multi-select {
  width: 50%;
}

.cards-container {
  margin-top: 1em !important;
  padding: 0 6em !important;
}

.nav-container {
  padding: 0.5em 6em !important;
}

.nav-links-spacing {
  margin: 0 auto !important;
  padding: 0 !important;
}

.nav-links-styling {
  font-size: 1rem;
  color: white !important;
}

.homepage-buttons-container {
  padding: 0.5em 2em !important;
  padding-top: 2em !important;
  padding-left: 6em !important;
}

@media (min-width: 768px) {
  .nav-links-spacing {
    margin-right: 3em !important;
  }
  .nav-links-spacing:last-of-type {
    margin-right: 0 !important;
  }
}

.columns {
  /* border: 1px solid red; */
  padding: 1em !important;
  padding-left: 0 !important;
}

.columns:last-of-type {
  padding-right: 0 !important;
}
